.heading {
    font-size: 15rem;
    flex-basis: 33.33%;
    flex-shrink: 0;
  }

.secondaryHeading {
    font-size: 15rem;
    flex-basis: 20%;
    flex-shrink: 0;
  }

.listItems{
    width: '100%';
    max-width: 360;
    background-color: '#8D86C9';
}

.paper {
  position: 'absolute';
  width: 50;
  background-color: white;
  box-shadow: '#8D86C9';
  padding: 60;
  outline: 'none';
}