.Authentication{
    height:100vh;
    width:100%;
    display:flex;
    color:white;
    background-color: #e3dfee;
    background-image: url("back.svg");
}

.CenterBox {
    margin:auto;
    margin-top:8.6%;
    margin-left:25%;
    margin-right:25%;
    background-color: #dcdefc;
    border-radius: 600px;
    width:50%;
    min-width:440px;
    min-height:400px;
    height:58%;
    box-shadow:0  0 3.6px 2.4px rgba(230, 224, 224, 0.78);
}

.Switcher {
    display: flex;
    justify-content: center;
    height:13%;
    margin-top:42.2%;
}

.Switcher_Item {
    background-color:#a9a5e0;
    color: #e7e4eb;
    padding:19px;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;

}
.Switcher_Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.Switcher_Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.Switcher_Item_Active {
    background-color: #8976EC;
    color: white;
}

.FormTitle {

    text-align: center;
    margin-top:20px;
    font-size: 1.7em;
    font-weight: 300;
    color: #a9a5e0;

}

.FormTitle_Active {

    border-bottom: 2px solid #88BFF8;
}

.FormTitle_Link{
    text-decoration: none;
}

.FormTitle_Link:first-child {
    margin-right:20px;
}

.FormTitle_Link:last-child {
    margin-left:20px;
}

.FormContent {

    align-content: flex-start;
}

.FormField {

    margin-top:6%;
    margin-left:18%;
    margin-right:18%;
    margin-bottom:10%;
    width:64%;
}
input {
    text-align: center;
}

.FormField_Label {
    display: block;
    margin-bottom:4.8px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0094c7;
    width:100%;
    text-align: center;
}

.FormField_Input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #242038;
    outline: none;
    border-bottom: 1.2px solid #553787;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 9px;
    margin-top: 10px;
}

.FormField_Link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 0;
    margin-right:38%;
    margin-left:38%;
    padding-top: 1.6%;
    padding-bottom: 1.6%;
    background-color: #593a8e;
    color: #dcdefc;
    font-size:1.35em;
    font-weight:300;
    width:24%;
    height:40%;
    border-radius: 25px;
    box-shadow:0  0 2.4px 2.4px rgba(112, 127, 130, 0.79);

}

.First_Field {
    margin-right:2%;
    margin-top:1.5%;
    margin-bottom:8%;
    width:48%;
    text-align: center;
}
.SignUpFields {
    display:block;
}

.First_Label {
    display: block;
    text-align: center;
    margin-bottom:3px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0094c7;
    width:100%;
}

.Second_Field {
    margin-left:2%;
    margin-top:1.5%;
    margin-bottom:8%;
    width:48%;
    text-align: center;
}

.FRow {
    display: inline-flex;
    width:100%;
    height:63px;
}

.Second_Label {
    display: block;
    text-align: center;
    margin-bottom:3px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0094c7;
}

.First_Input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #242038;
    outline: none;
    border-bottom: 1.2px solid #553787;
    font-size: .95em;
    font-weight: 300;
    padding-bottom: 3px;
    margin-top: 5px;
    align-content: center;
}

.Last_Field {
    margin-left:25%;
    margin-top:1.5%;
    margin-bottom:8%;
    width:63%;
    color:#593a8e;

    font-weight:300;
}

.Last_Label {
    display: block;
    margin-left:120px;
    margin-bottom:3px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0094c7;
}

.CRow {
    display: inline-flex;
    width:120%;
    height:63px;
    margin-left:-2%;
    margin-top:2%;
    text-align:justify;
}

.Forward {

    bottom:9%;
    text-decoration: none;
    color:#593a8e;
}

.FormField_Author{

    margin-top:15%;
    margin-left:20%;
    margin-bottom:8%;
    width:63%;
}

.NextButton {
    width:100%;
    /*position: absolute;*/
}

.FormSwitcherContainer {
    width:74%;
    margin-left:13%;
    margin-right:13%;
    margin-top:4%;
    margin-bottom:2.5%;
}

.NextButton {
    margin-top:2%;
    width:100%;
    /*position: absolute;*/
}

.AuthorButton {
    width:40%;
   margin:auto;
}

.PcButton {
    width:60%;
    margin:auto;
}